@page "/Authors/"
@using Microsoft.AspNetCore.Authentication.OAuth.Claims
@using BookStoreApp.Blazor.Server.UI.Static
@using BookStoreApp.Blazor.Server.UI.Models
@using DL.DatabaseSpecific;
@using DL.EntityClasses
@using DL.FactoryClasses
@using DL.Linq;
@using SD.LLBLGen.Pro.QuerySpec;
@using System.Collections.Immutable
@using AutoMapper.QueryableExtensions
@using DevExpress.Blazor.Internal
@using SD.LLBLGen.Pro.LinqSupportClasses
@using System.Data.SqlClient
@inject IAuthorService authorService
@inject IJSRuntime js
@inject NavigationManager navManager
<h3>Index</h3>

<style>
    .my-class {
        width: 500px;
    }
    .oi oi-plus {
        width: 16px
    }
</style>

@if (response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    @if (Authors == null)
    {
        <div class="alert alert-info">
            <h4>Loading Data...</h4>
        </div>
    }
    else
    {
        <div>
            <AuthorizeView Roles=@Roles.Administrator>
                <button @onclick="GoToCreate" class="btn btn-primary" type="button" ><span class="oi oi-plus" /> Create Author</button>
            </AuthorizeView>
        </div><br/>

        <div>
            <DxButton Text="Column Selecter (Filter)" RenderStyle="ButtonRenderStyle.Dark" SizeMode="SizeMode.Small" CssClass="column-chooser-button" 
                      Click="@PickColumn"/> 
            <br/>
        </div>

        <div>
            <DxGrid Data="Authors"
                    KeyFieldName="Id"
                    @ref="Grid"
                    ShowGroupPanel="true"
                    ShowFilterRow="true"
                    PageSize="10"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 40, 50, 75, 100})" 
                    AllowSelectRowByClick="true"
                    SelectionMode="GridSelectionMode.Multiple"
                    @bind-SelectedDataItems="@Selected">
                <Columns>
                    @* Selection *@
                    <DxGridSelectionColumn Width="15"/>
                    
                    @* First Name *@
                    <DxGridDataColumn FieldName="FirstName" MinWidth="375"/>

                    @* Last Name *@
                    <DxGridDataColumn FieldName="LastName" MinWidth="375"/>

                    @* Options *@
                    <DxGridCommandColumn Width="350px" Caption="Options">
                        <CellDisplayTemplate Context="currentBook">
                            <button @onclick=@(() => Details((int)@currentBook.GetRowValue("Id"))) class="btn btn-primary" type="button" ><span class="oi oi-book" /> Details</button>
                            <AuthorizeView Roles=@Roles.Administrator>
                                <button @onclick=@(() => Edit((int)@currentBook.GetRowValue("Id"))) class="btn btn-warning" type="button" ><span class="oi oi-pencil" /> Edit</button>
                                <button @onclick=@(() => Delete((int)@currentBook.GetRowValue("Id"))) class="btn btn-danger" type="button" ><span class="oi oi-delete" /> Delete</button>

                                
                            </AuthorizeView>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>

                </Columns>
            </DxGrid>
        </div> <br/>

        @foreach(var author in Selected.Cast<AuthorReadOnlyDto>()) 
        {
            <li class="list-group-item bg-transparent text-body py-1 border-0"><b>Author:</b> <i>@author.FirstName @author.LastName</i></li>
        }
    }
}

@code {
    private List<AuthorReadOnlyDto> Authors;
    public int TotalSize { get; set; }
    private Response<AuthorReadOnlyDtoVirtualiseResponse> response = new Response<AuthorReadOnlyDtoVirtualiseResponse>{ Success = true };

    IGrid Grid { get; set; }
    IReadOnlyList<object> Selected { get; set; } // Selected isn't allowed to be null/empty.

    protected override async Task OnInitializedAsync()
    {
        /*using (var adapter = new DataAccessAdapter())
        {
            var metaData = new LinqMetaData(adapter);

            Console.WriteLine(await metaData.Author.CountAsync());

            /*for (int i = 0; i < metaData.Author.Count; i++)
            {

            }#1#

            //Authors = await metaData.Author.FirstOrDefaultAsync(x => x.);

            //var authorFirstName = await metaData.Author.FirstOrDefaultAsync(x => x.Id == IdGuid);

            //var queryFactory = new QueryFactory();
            //var query = queryFactory.Author;
            


            

            //await metaData.;
            // var fetch = await adapter.FetchQueryAsync();
            //int count = metaData.Author.Count();
        }*/

        
    //response = await AuthorService

    //Authors = (await httpClient.AuthorsAllAsync()).ToList();
        response = await authorService.Get(new QueryParameters
        {
            StartIndex = 0
        });
        if (response.Success)
        {
            Authors = response.Data.Items.ToList();
        }
        Selected = Authors.Take(0).ToList();
    }

    private async Task LoadAuthors(QueryParameters queryParams)
    {
        var virtualiseResult = await authorService.Get(queryParams);
        Authors = virtualiseResult.Data.Items.ToList();
        TotalSize = virtualiseResult.Data.TotalSize;
    }
    
    private void Details(int bookId)
    {
        navManager.NavigateTo($"/authors/details/{bookId}");
    }

    private void Edit(int bookId)
    {
        navManager.NavigateTo($"/authors/update/{bookId}");
    }

    private async Task Delete(int authorId)
    {
        var author = Authors.First(q => q.Id == authorId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you would like to delete {author.FirstName} {author.LastName}?");

        if (confirm)
        {
            var response = await authorService.Delete(authorId);

            if (response.Success)
            {
                await OnInitializedAsync();
            }
        }
    }

    private void PickColumn()
    {
        Grid.ShowColumnChooser(".column-chooser-button");
    }

    private void GoToCreate()
    {
        navManager.NavigateTo("/authors/create/");
    }


    /*
        Ok, so it started to detect those variables. How would i get those variables onto my custom data types.
        Ive got private List<AuthorReadOnlyDto> Authors; that needs to be filled out.
        AuthorRedOnlyDto has a FirstName, LastName and Bio that needs to be filled out.
     */

}

