@page "/books/"
@using BookStoreApp.Blazor.WebAssembly.UI.Static
@inject IBookService bookService
@inject IJSRuntime js
@inject NavigationManager navManager
<h3>Index</h3>

@if (response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    @if (Books == null)
    {
        <div class="alert alert-info">
            <h4>Loading Data...</h4>
        </div>
    }
    else
    {
        <div>
            <AuthorizeView Roles=@Roles.Administrator>
                <DxButton Text="Create Book" RenderStyle="ButtonRenderStyle.Primary" SizeMode="SizeMode.Medium" IconCssClass="oi oi-plus" 
                      Click="@GoToCreate" />
            </AuthorizeView>
        </div><br/>
        

        <div>
            <DxButton Text="Column Selecter (Filter)" RenderStyle="ButtonRenderStyle.Dark" SizeMode="SizeMode.Small" CssClass="column-chooser-button" 
                      Click="@PickColumn"/>
        </div>

        <div>
            <DxGrid Data="Books"
                    KeyFieldName="Id"
                    @ref="Grid"
                    ShowGroupPanel="true"
                    ShowFilterRow="true"
                    PageSize="5"
                    PageSizeSelectorVisible="true"
                    PageSizeSelectorItems="@(new int[] {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 40, 50, 75, 100})" 
                    AllowSelectRowByClick="true"
                    SelectionMode="GridSelectionMode.Multiple"
                    @bind-SelectedDataItems="@Selected">
                <Columns>
                    @* Selection *@
                    <DxGridSelectionColumn Width="15"/>
                    
                    @* Image *@
                    <DxGridDataColumn FieldName="Image" Width="113px" FilterRowEditorVisible="false">
                        <CellDisplayTemplate>
                            <img src="@context.GetRowValue("Image")" style="width: 100px; height: 100px" alt="@context.GetRowValue("Title")" class="rounded float-start"/>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    
                    @* Title *@
                    <DxGridDataColumn FieldName="Title" MinWidth="375">
                        <CellDisplayTemplate Context="currentBook">
                            <td><a class="btn btn-link" href="/books/details/@currentBook.GetRowValue("Id")"> @currentBook.GetRowValue("Title")</a></td>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    
                    @* Price *@
                    <DxGridDataColumn FieldName="Price" DisplayFormat="c" Width="100px"/>
                    
                    @* Author Name *@
                    <DxGridDataColumn FieldName="AuthorName" MinWidth="375">
                        <CellDisplayTemplate Context="currentBook">
                            <td><a class="btn btn-link" href="/authors/details/@currentBook.GetRowValue("AuthorId")"> @currentBook.GetRowValue("AuthorName")</a></td>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                    
                    @* Options *@
                    <DxGridCommandColumn Width="350px" Caption="Options">
                        <CellDisplayTemplate Context="currentBook">
                            <DxButton Text="Details" RenderStyle="ButtonRenderStyle.Primary" SizeMode="SizeMode.Medium" IconCssClass="oi oi-pencil" @onclick=@(() => Details((int)@currentBook.GetRowValue("Id")))/>
                            <AuthorizeView Roles=@Roles.Administrator>
                                <DxButton Text="Edit" RenderStyle="ButtonRenderStyle.Warning" SizeMode="SizeMode.Medium" IconCssClass="oi oi-pencil" @onclick=@(() => Edit((int)@currentBook.GetRowValue("Id")))/>
                                <DxButton Text="Delete" RenderStyle="ButtonRenderStyle.Danger" SizeMode="SizeMode.Medium" IconCssClass="oi oi-delete" @onclick=@(() => Delete((int)@currentBook.GetRowValue("Id")))/>
                            </AuthorizeView>
                        </CellDisplayTemplate>
                    </DxGridCommandColumn>

                </Columns>
            </DxGrid>
        </div> <br/>

        @foreach(var book in Selected.Cast<BookReadOnlyDto>()) 
        {
            <li class="list-group-item bg-transparent text-body py-1 border-0"> <b>Book:</b> <i>@book.Title</i> <b>Author:</b> <i>@book.AuthorName</i></li>
        }
    }
}

@code {
    private List<BookReadOnlyDto> Books;
    private Response<List<BookReadOnlyDto>> response = new Response<List<BookReadOnlyDto>>{ Success = true };

    IGrid Grid { get; set; }
    IReadOnlyList<object> Selected { get; set; } // Selected isn't allowed to be null/empty.

    protected override async Task OnInitializedAsync()
    {
        response = await bookService.Get();
        if (response.Success)
        {
            Books = response.Data;
        }
        Selected = Books.Take(0).ToList(); 
    }

    private void Details(int bookId)
    {
        navManager.NavigateTo($"/books/details/{bookId}");
    }

    private void Edit(int bookId)
    {
        navManager.NavigateTo($"/books/update/{bookId}");
    }

    private async Task Delete(int bookId)
    {
        var book = Books.First(q => q.Id == bookId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Are you sure you would like to delete {book.Title}?");

        if (confirm)
        {
            var response = await bookService.Delete(bookId);

            if (response.Success)
            {
                await OnInitializedAsync();
            }
        }
    }

    private void PickColumn()
    {
        Grid.ShowColumnChooser(".column-chooser-button");
    }

    private void GoToCreate()
    {
        navManager.NavigateTo("/books/create/");
    }
}
